html, body, ul, li, a, footer   {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

ul  {
    display: flex;
    flex-flow: column nowrap;
}

a   {

    display: block;
}

div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-image: url("OAK_crew_preggers.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

p   {
    font-size: xx-large;
    font-weight: bold;
    color: lightgrey;
    text-align: left;
    border: 5px royalblue solid;
    background-color: black;
}
