body    {
    display: flex;
    flex-flow: row wrap;
    /*
    justify-content: space-evenly;
    */
    height: 700px;
    align-content: flex-start;
    border: 5px blue solid;
}

div {
    flex-grow: 1;
    border: 2px red solid;
    margin: 1em;
    width: 200px;
    height: 100px;
    background-color: lightsteelblue;
    text-align: center;
    font-weight: bold;
}