.c1 {
    background-color: #003476;
}

.c2 {
    background-color: cornflowerblue;
}

.c3 {
    background-color: lightsteelblue;
}

.c4 {
    background-color: aliceblue;
}

.c5 {
    background-color: darkgrey;
}

