html, body, div {
    box-sizing: border-box;
}

body    {
    display: flex;
    flex-flow: row wrap;
    /*  formatting    */
    border: 5px black dashed;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7   {
    width: 100%;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}
