.c1 {
    background-color: rebeccapurple;
}

.c2 {
    background-color: red;
}

.c3 {
    background-color: blue;
}

.c4 {
    background-color: lightgray;
}

.c5 {
    background-color: greenyellow;
}

.c6 {
    background-color: yellow;
}

.c7 {
    background-color: deeppink;
}