.emphasize  {
    font: bold;
    color: hotpink;
    font-size: large;
}

#promote1    {
    color: limegreen;
}

#promote2   {
    color: deepskyblue;
}

[contenteditable]   {
    color: indianred;
    border: 2px black dot-dash;
}