.emphasize  {
    font: bold;
    color: hotpink;
    font-size: large;
}

#promote1    {
    color: limegreen;
}

#promote2   {
    color: deepskyblue;
}

[contenteditable]   {
    color: blue;
    border: 2px black dot-dash;
}

[src]   {
    border: black 10px dot-dot-dash;
}

[href]  {
    border: darkslateblue 10px double;
}